.gradle/
build/
logs/
out/
*testOutput/
.idea/
*.apk
*.app
*.ipa
*.zip
*.png
*.jpeg
*.jpg
temp/
test-output/
target/
.metadata/
bin/
.classpath
.project
.settings/
*.bak
*.bin*
.DS_Store
*.iml
pipeline.gdsl
*target*/
.xcconfig_bac
node_modules/
*.exe
local.properties
upload
libs