import java.text.SimpleDateFormat

buildscript {
    ext {
        gradleVersion = '7.3.3'
        teswizVersion = '0.0.69'
    }
    repositories {
        mavenLocal()
    }
}

plugins {
    id "java"
    id "idea"
    id "maven-publish"
}

version '0.0.1'
project.ext.log4jProperties = "src/test/resources/log4j2.properties"

repositories {
    mavenLocal()
    maven { url 'https://jitpack.io' }
}

configurations {
    cucumberRuntime {
        extendsFrom testImplementation
    }
}

compileJava { options.encoding = "UTF-8" }

dependencies {
    implementation("com.github.znsio:teswiz:${project.teswizVersion}") {
        transitive = false
    }
}

static def getCurrentDatestamp() {
    Date today = new Date()
    SimpleDateFormat df = new SimpleDateFormat("MM-dd-yyyy")
    return df.format(today)
}

static def getCurrentTimestamp() {
    Date today = new Date()
    SimpleDateFormat df = new SimpleDateFormat("HH-mm-ss")
    return df.format(today)
}

task run(type: JavaExec) {
    doFirst {
        def logDirectory = "target/" + getCurrentDatestamp() + "/" + getCurrentTimestamp()
        println "Using LOG_DIR: $logDirectory"
        System.setProperty "LOG_DIR", "$logDirectory"

        def isRunInCI = Boolean.parseBoolean(System.getenv("RUN_IN_CI"))
        println "isRunningInCI: $isRunInCI"

        def configFile = isRunInCI ? "./configs/pcloudy_config.properties" : "./configs/config.properties"
        configFile = System.getenv("CONFIG") ? System.getenv("CONFIG") : configFile

        systemProperties = System.properties
        def runnerArgs = [
                "${configFile}",
                "<pathToStepDef>",
                "<pathToFeaturesDir>"
        ]
        args = runnerArgs
    }
    mainClass = "com.znsio.e2e.runner.Runner"
    classpath = configurations.cucumberRuntime + sourceSets.main.output + sourceSets.test.output
}

wrapper {
    gradleVersion = project.gradleVersion // version from gradle.properties
}
