# To execute this docker-compose yml file use `docker-compose -f docker-compose-v3-proxy.yml up`
# Add the `-d` flag at the end for detached execution
# To stop the execution, hit Ctrl+C, and then `docker-compose -f docker-compose-v3-proxy.yml down`
version: "3"
services:
  chrome:
    image: ${DOCKER_REGISTRY}/${CHROME_REPO}:latest
    shm_size: 2gb
    volumes:
      - /dev/shm:/dev/shm
      - ./src:/tmp/src/
    depends_on:
      - selenium-hub
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
      - SE_NODE_MAX_SESSIONS=2
      - SE_NODE_GRID_URL=http://localhost:${GRID_PORT}
      - HTTP_PROXY=${PROXY_KEY}
      - HTTPS_PROXY=${PROXY_KEY}
      - http_proxy=${PROXY_KEY}
      - https_proxy=${PROXY_KEY}

  firefox:
    image: ${DOCKER_REGISTRY}/${FIREFOX_REPO}:latest
    shm_size: 2gb
    volumes:
      - /dev/shm:/dev/shm
      - ./src:/tmp/src/
    depends_on:
      - selenium-hub
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
      - SE_NODE_MAX_SESSIONS=2
      - SE_NODE_GRID_URL=http://localhost:${GRID_PORT}
      - HTTP_PROXY=${PROXY_KEY}
      - HTTPS_PROXY=${PROXY_KEY}
      - http_proxy=${PROXY_KEY}
      - https_proxy=${PROXY_KEY}

  selenium-hub:
    image: ${DOCKER_REGISTRY}/${SELENIUM_HUB_REPO}:latest
    container_name: selenium-hub
    ports:
      - "${GRID_PORT_1}:4442"
      - "${GRID_PORT_2}:4443"
      - "${GRID_PORT}:4444"
    environment:
      - HTTP_PROXY=${PROXY_KEY}
      - HTTPS_PROXY=${PROXY_KEY}
      - http_proxy=${PROXY_KEY}
      - https_proxy=${PROXY_KEY}