# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: BrowserStack_PDF_CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Install Appium 2.0 and dependencies
        run: |
          node -v
          npm cache clean --force
          npm install
          npm list
      - name: Run PDF-Android tests against Browserstack
        run: |
          RUN_IN_CI=true TESWIZ_APPLITOOLS_API_KEY=${{ secrets.TESWIZ_APPLITOOLS_API_KEY }} IS_VISUAL=true CONFIG=./configs/pdf/pdf_android_browserstack_config.properties CLOUD_USERNAME=${{ secrets.BROWSERSTACK_CLOUD_USERNAME }} CLOUD_KEY=${{ secrets.BROWSERSTACK_CLOUD_KEY }} PLATFORM=android TAG="@validatePDF and @browserstack" ./gradlew run
      - name: Save Test Artifacts
        if: ${{ always() }}  # Ensure this step runs even if the tests fail
        uses: actions/upload-artifact@v4
        with:
          name: test-results-PDF-Android
          path: target
      - name: Run PDF-Web tests against Browserstack
        run: |
          RUN_IN_CI=true TESWIZ_APPLITOOLS_API_KEY=${{ secrets.TESWIZ_APPLITOOLS_API_KEY }} IS_VISUAL=true CONFIG=./configs/pdf/pdf_web_browserstack_config.properties CLOUD_USERNAME=${{ secrets.BROWSERSTACK_CLOUD_USERNAME }} CLOUD_KEY=${{ secrets.BROWSERSTACK_CLOUD_KEY }} PLATFORM=web TAG="@validatePDF and @browserstack" ./gradlew run
      - name: Save Test Artifacts
        if: ${{ always() }}  # Ensure this step runs even if the tests fail
        uses: actions/upload-artifact@v4
        with:
          name: test-results-PDF-Web
          path: target
      - name: Run standalone PDF tests
        run: |
          RUN_IN_CI=true TESWIZ_APPLITOOLS_API_KEY=${{ secrets.TESWIZ_APPLITOOLS_API_KEY }} CONFIG=./configs/pdf/local_pdf_config.properties PLATFORM=pdf TAG=@standalone ./gradlew run
      - name: Save Test Artifacts
        if: ${{ always() }}  # Ensure this step runs even if the tests fail
        uses: actions/upload-artifact@v4
        with:
          name: test-results-standalone
          path: target
