name: HardGate_CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Run passing tests
        run: |
          RUN_IN_CI=true CONFIG=./configs/theapp/theapp_browserstack_web_config.properties PLATFORM=api TAG="@negateResults" SET_HARD_GATE=true IS_FAILING_TEST_SUITE=false ./gradlew run
        continue-on-error: true
      - name: Save Test Artifacts
        if: ${{ always() }}  # Ensure this step runs even if the tests fail
        uses: actions/upload-artifact@v4
        with:
          name: test-results-passing
          path: target
        continue-on-error: true

      - name: Run failing tests
        run: |
          RUN_IN_CI=true CONFIG=./configs/theapp/theapp_browserstack_web_config.properties PLATFORM=api TAG="@negateResults" SET_HARD_GATE=true IS_FAILING_TEST_SUITE=true ./gradlew run
        continue-on-error: true
      - name: Save Test Artifacts
        if: ${{ always() }}  # Ensure this step runs even if the tests fail
        uses: actions/upload-artifact@v4
        with:
          name: test-results-failing
          path: target
        continue-on-error: true
